* {
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-dark {
  background-color: #253746;
}

.nav-link {
  color: #374e62;
}

.text-right {
  padding-right: 1rem;
}

.card-title {
  font-size: 3rem;
}

.btn {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
}

.three {
  width: 350px;
}

.second {
  width: 300px;
}

.display {
  font-size: 2rem;
}

.third {
  font-size: 1rem;
  width: 350px;
}

.blmPara {
  font-size: 1.2rem;
  width: 350px;
}

.shoppingSeason {
  font-size: 1.1rem;
  width: 350px;
}

.footerPara {
  font-size: 1.5rem;
  width: 150px;
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 1024.98px) {
  #ultra,
  #new-arrivals,
  #make-list {
    margin-top: 5rem;
  }

  #the-first,
  #door,
  #list,
  #shop-safely {
    font-size: 2rem;
  }

  #the-first {
    width: 200px;
    margin-left: 24rem;
  }

  .firstPara,
  .second-para,
  .third-para,
  .fourth-para,
  .seventh-para {
    font-size: 0.75rem;
    margin: 0 0 1rem 22rem;
    width: 250px;
  }

  .btn-div {
    width: 400px;
    margin: 1rem 0 0 18rem;
  }

  #shopMen,
  #shopWomen {
    border: 1px solid white;
    width: 190px;
  }

  #home-btn {
    color: white;
    background-color: transparent;
    font-weight: bold;
    padding: 0.8rem;
  }

  #best-dressed {
    width: 150px;
    margin: 1rem 0;
  }

  .btnDiv {
     width: 250px;
    margin: 1rem 0 0 22rem;
  }

  .theBtnDiv {
   border: 1px solid white;
  }

  .theBtn {
    color: white;
    background-color: transparent;
    font-weight: bold;
    padding: 1rem;
    width: 250px;
  }

  #local-store {
    font-size: 1rem;
    margin: 0.5rem 10rem;
  }

  .fifth-para {
    font-size: 1.1rem;
    width: 700px;
    margin-left: 5rem;
  }

  .blm-mvment {
    width: 500px;
    margin-left: 5rem;
  }

  #movement {
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
  }

  .sixth-para {
    font-size: 0.7rem;
    width: 300px;
    margin-top: 0.5rem;
  }

  #lrn-mre-btn {
    border: 1px solid white;
    width: 200px;
    align-self: center;
    padding: 0.8rem;
    margin-right: 5rem;
  }

  #lrn-btn {
    color: white;
    background-color: transparent;
    font-weight: bold;
  }

  /* .seventh-para {
    font-size: 0.75rem;
    margin: 0 0 1rem 19rem;
    width: 400px;
  } */

  #safe-shopn {
    margin-top: 1rem;
  }

  #find-store {
    margin-bottom: 2rem;
    border-bottom: 1px solid black;
  }
}

@media (min-width: 991.98px) {
  #firstNav,
  #brand,
  #bag,
  #bars {
    display: none;
  }

  .usFlag {
    width: 30px;
  }
}

@media (max-width: 940px) {
  #the-first {
    margin-left: 22rem;
  }

  .firstPara,
  .second-para,
  .third-para,
  .fourth-para,
  .shoppingSeason {
    margin-left: 20rem;
  }

  .btn-div {
    margin-left: 16rem;
  }

  .btnDiv {
    margin-left: 20rem;
 }

 .fifth-para {
   margin-left: 8rem;
 }
}

@media (max-width: 880px) {
  #the-first {
    margin-left: 20rem;
  }

  .firstPara,
  .second-para,
  .third-para,
  .fourth-para,
  .shoppingSeason {
    margin-left: 18rem;
  }

  .btn-div {
    margin-left: 14rem;
  }

  .btnDiv {
    margin-left: 18rem;
 }

 .fifth-para {
   margin-left: 6rem;
 }
}

@media (max-width: 800px) {
  #the-first {
    margin-left: 16rem;
  }

  .firstPara,
  .second-para,
  .third-para,
  .fourth-para,
  .shoppingSeason {
    margin-left: 15rem;
  }

  .btn-div {
    margin-left: 10rem;
  }

  .btnDiv {
    margin-left: 15rem;
 }

 .fifth-para {
   margin-left: 2rem;
 }
}
/*
  .first-head {
    margin-left: 5rem;
    width: 300px;
  }

  .firstPara {
    font-size: 1.5rem;
    margin-left: 13rem;
    width: 500px;
  }

  #home-btn {
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
  }

  .first-head {
    font-size: 3rem;
  }
} */

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  #gift,
  #about {
    display: none;
  }
}

@media (min-width: 1199.98px) {
  /* .firstPara {
    margin-left: 19rem;
  } */

  /* #shopMen,
  #shopWomen {
    width: 200px;
    padding: 0;
  } */
}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */