* {
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-dark {
  background-color: #253746;
}

.nav-link {
  color: #374e62;
}

.text-right {
  padding-right: 1rem;
}

.card-title {
  font-size: 3rem;
}

.btn {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.9);
}

.three {
  width: 350px;
}

.second {
  width: 300px;
}

.display {
  font-size: 2rem;
}

.third {
  font-size: 1rem;
  width: 350px;
}

.blmPara {
  font-size: 1.2rem;
  width: 350px;
}

.shoppingSeason {
  font-size: 1.1rem;
  width: 350px;
}

.footerPara {
  font-size: 1.5rem;
  width: 100px;
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) {
  #ultra {
    margin-top: 3rem;
  }

  .first-head {
    font-size: 2rem;
  }

  .firstPara {
    font-size: 1rem;
    margin: 0 0 1rem 10rem;
    width: 350px;
  }

  #shopMen,
  #shopWomen {
    border: 1px solid white;
  }

  #home-btn {
    color: white;
    background-color: transparent;
    font-weight: bold;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) {
  #firstNav,
  #brand,
  #bag,
  #bars {
    display: none;
  }

  .usFlag {
    width: 30px;
  }

  .firstPara {
    font-size: 1.5rem;
    margin-left: 13rem;
    width: 500px;
  }

  #home-btn {
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
  }

  .first-head {
    font-size: 3rem;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  #gift,
  #about {
    display: none;
  }
}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */